*.py[co]

# Packages
*.egg
*.egg-info
dist
build
docs/_build
eggs
parts

var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

*.log
*.tar.gz
*.project
*.pydevproject
